#Acer
SUBSYSTEM=="usb", ATTR{idVendor}=="0502", MODE="0666"

#Google
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", MODE="0666"

#coolpad
SUBSYSTEM=="usb", ATTR{idVendor}=="1ebf", MODE="0666"

#bbk
SUBSYSTEM=="usb", ATTR{idVendor}=="04b8", MODE="0666"

#bbk
SUBSYSTEM=="usb", ATTR{idVendor}=="a108", MODE="0666"

#bbk
SUBSYSTEM=="usb", ATTR{idVendor}=="2207", MODE="0666"

